.title {
  margin: 1rem 0 2rem 0;
  font-size: 1.2rem;
  width: 100%;
}

.cart_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #000000;
  padding: 0 0 1rem 0;
  margin: 1rem 0 0.5rem;
  gap: 1rem;
  width: 100%;
}

.summary {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 80%;
}


.summary>img {
  width: 100%;
  height: auto;

}

.price {
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

.amount {
  font-weight: bold;
  border: 1px solid #000000;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  font-size: 1.7rem;
  color: #000000;
  width: 25%;
}

.actions {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-around;
}

.cart_item .button {
  font: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
  border: 1px solid #ff9b05;
  width: 4rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin: 0.25rem;
  background-color: #e7e5e5;
  padding: .5rem;
}

.cart_item button:hover,
.cart_item button:active {
  color: #000000;
}



@media only screen and (min-width : 369px) and (max-width : 500px) {
  .modal {
    top: 20vh;
    left: 10%;
    width: 80%;
  }

  .actions {
    margin-right: 1rem;
  }

  .cart_item {
    flex-direction: column;
  }

  .cart_item button {
    padding: .5rem;
  }

  .summary {
    flex-direction: column;
  }

  .actions {
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
  }
}










@media (min-width : 501px) and (max-width : 1000px) {


  .actions {
    margin-right: 1rem;
  }

  .cart_item button {
    padding: .5rem;
  }


}