.cart_items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
  color: #000000;
}
.li_action {
  display: flex;
  justify-content: space-between;
}
.li_action > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 3px;
}

.li_action > button:hover {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 0.3rem 0 1rem 0;
  font-weight: bold;
  color: #000000;
}

.my_value {
  color: #000000;
  text-shadow: 0.5px 0 #000000;
  letter-spacing: 2px;
  font-weight: bold;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #e7e5e5;
  border: 1px solid #ff9b05;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: black;
  border: solid 1px white;
}

.actions .button--alt {
  color: #ff9b05;
}

.actions .button {
  background: linear-gradient(90deg, #f9572a, #ff9b05);
}

.error {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.error h1 {
  text-align: center;
}
.error div:last-of-type {
  width: auto;
  margin: auto;
}
