.error {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  height: 70vh;
}
.msn {
  color: black;
}
.delete {
  color: #000000;
  height: 10vh;
}
.text {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
}

.trans {
  color: transparent;
}

.button {
  width: 25%;
  margin: auto;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #fd4715, #f9b241);
  color: #d9e2f1;
  cursor: pointer;
  margin: 2rem 0 1rem 0;
  box-shadow: 0 0 7px rgba(242, 100, 18, 0.8);
}

.button:hover {
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 17px rgba(242, 100, 18, 0.8);
  scale: 1.01;
}


@media only screen and (min-width : 369px) and (max-width : 500px) {
.text {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1.3rem;
  }

    
}