.userMenu {
  position: fixed;
  top: 6rem;
  right: 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(90deg, #2c1e19, #25200f);
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
  border: solid 0.5px #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  z-index: 1000;
}

.user_list {
  list-style-type: none;
}

.head {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-bottom: solid 1px #ff9b05;
  padding-bottom: 1rem;
}

.head_log {
  padding: 0.5rem;
  background-color: #ffffff;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  border: 1px solid color;
  border-radius: 50%;
  color: black;
  text-shadow: -1px 0, 0 1px, 1px 0, 0 -1px, -1px -1px, 1px 1px, -1px 1px,
    1px -1px;
  letter-spacing: 2px;
  font-weight: bold;
}

.head_inf {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.2rem;
  font-weight: bold;
}

.head_inf p {
  color: #ddd6cb;
  font-size: 0.7rem;
}

.body_inf {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  font-weight: bold;
}

@media only screen and (min-width : 369px) and (max-width : 500px) {
  .userMenu {
    padding: 0rem;
  }

  .head {
    margin-top: 6rem;
    display: flex;
    gap: 0.5rem;
    border-bottom: solid 1px #ff9b05;
    padding: 1rem;
  }

  .head_inf {
    font-size: 1.2rem;
  }

  .body_inf {
    color: rgb(97, 97, 97);
    ;
    font-size: 1.2rem;
    padding-left: 4.3rem;
  }
}