
  
  .container {
    width: 50%;
    margin: 60px auto;
    height: 60vh;

  }
  
  .cont_container{
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  

  .input_container{
    width: 47%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  
  .form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    height: 60vh;
    margin: .5rem 1rem;
    padding: 2rem;
    background: linear-gradient(90deg, #2c1e19, #25200f);
    border-radius: 8px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
  }
  
  
  
  .label {
    font-size: 1rem;
    color: #ddd6cb;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #cfa69b;
    background-color: #ddd6cb;
    color: #142020;
  }
  
  .button {
    width: 50%;
    margin: auto;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
    background: linear-gradient(90deg, #fd4715, #f9b241);
    box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
    color: #d9e2f1;
    cursor: pointer;
    margin-top: 2rem;
  }
