
.h2_container {
  display: flex;
  margin-top: 2rem;

}

.container {
  display: flex;
  height: 70vh;
  padding-top: .5rem;
  margin-bottom: 3rem;
}

.cont_container{
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.paragraph {
  font-size: 1.5rem;
  width: 50%;
  font-weight:900;
  padding-left: 1rem;
}

.form h3 {
  color: #ddd6cb;

}

.form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 50%;
  max-width: 50%;
  margin: .5rem 1rem;
  padding: 2rem;
  background: linear-gradient(90deg, #2c1e19, #25200f);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}



.label {
  font-size: 1.3rem;
  color: #ddd6cb;
  font-weight: bold;
}

.input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-radius: 4px;
  border: 1px solid #cfa69b;
  background-color: #ddd6cb;
  color: #142020;
}

.button {
  height: 3.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
  color: #d9e2f1;
  cursor: pointer;
  margin-top: 2rem;
}

