.header {
    padding: 1rem 10%;
    height: 3rem;
    background: linear-gradient(90deg, #303030, #2c2612);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    z-index: 100;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #303030b5, #2c2612b5);
}

.navigation {
    width: 70%;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.filter {
    text-decoration: none;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


@media (min-width: 768px) {
    .logo {
        font-size: 2.5rem;
    }

    .navigation a {
        font-size: 1.5rem;
    }
}

