

.label {
  font-size: 1rem;
  color: #000000;
  font-weight: 600;
}

.input {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ababab;
  color: #142020;
}