.up_btn {
    position: fixed;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #2c261287;
    border-radius: 60px;
    padding: 20px;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    text-decoration: none;
}