.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}
#deletion p {
  color: black;
}

.p {
  font-size: 1rem;
  color: darkgrey;
}

.button {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #d87d4a, #fbaf85);
  color: #ffffff;
  cursor: pointer;
}
