.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: black;
  padding-top: 1rem;
}

.h1 {
  text-align: center;
  color: white;
}

.deletion > h2 {
  text-align: center;
  color: black;
  font-weight: 900;
}

.p {
  font-size: 1rem;
  color: darkgrey;
  text-align: center;
}

.btn_container {
  width: 85%;
  margin: 1rem auto 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  height: 2.5rem;
  width: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #fd4715, #f9b241);
  color: #ffffff;
  cursor: pointer;
}

.btn_conf {
  height: 3rem;
  width: 18rem;
  align-self: center;
  font-weight: bold;
}
.btn_delete {
}

.btn_delete:hover {
  color: black;
  background: linear-gradient(90deg, #fd1515, #f54c4c);
}
