.main {
  max-width: 40rem;
  margin: 5rem auto 5rem;
  min-height: 60vh;
}
.accordion {
  margin: 2rem 0;
  border: 1px solid #5d6273;
  border-radius: 6px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.title-comp {
  display: flex;
  background: linear-gradient(90deg, #312824, #251f0e);
  cursor: pointer;
  box-shadow: 0px 0px 2px white;
}
.accordion-item-title {
  position: relative;
  z-index: 1000;
  margin: 0;
  padding: 1rem;
  font-size: 1.15rem;
  color: #c1d9fa;
}
.accordion-item-content {
  position: inherit;
  height: 0;
  padding: 0;
  z-index: -100;
}
.close {
  display: none;
}

.open {
  display: block;
}
.cart_items {
  list-style: none;
  margin: 0;
  padding: 1rem;
  max-height: 20rem;
  overflow: auto;
  color: #000000;
}
.cart_items li{
 justify-content: center;
  
}
.cart_items button{
 background-color: transparent;
 margin-left: 1rem;
  
}
