.main {
  max-width: 40rem;
  margin: 2rem auto 5rem;
  min-height: 60vh;
}

.accordion {
  margin: 2rem 0;
  border: 1px solid #5d6273;
  border-radius: 6px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.accordion-item {
  background-color: #2c344a;
  /* border-bottom: solid 1px black; */
}
.title-comp {
  display: flex;
  background-color: #363e57;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}
.accordion-item-title {
  position: relative;
  z-index: 1000;
  margin: 0;
  padding: 1rem;
  font-size: 1.15rem;
  color: #c1d9fa;
}

.accordion-item-content {
  position: inherit;
  height: 0;
  padding: 0;
  z-index: -1000;
}

.close {
  display: none;
}

.open {
  display: block;
}

.cart_items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
  color: #000000;
}
.li_container {
  background-color: red;
}
