.container_pro {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  width: 100%;
  height: 100vh;
}

.mage {
  width: 200px;
  height: 200px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 2rem; */
  padding: 1rem;

}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;

}



@media only screen and (min-width : 369px) and (max-width : 500px) {
  .container_pro {
    min-height: 150vh;
    margin-top: -10rem;
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  .slider {

    align-items: center;
    width: 100%;
  }

  .info {
    width: 100%;
    margin: 0;
    margin-top: -10rem;
    padding-top: 0;
    align-items: center;
    justify-content: center;

  }

  .display {
    display: none;
  }
}