.product {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 10px;
    color: black;
    border: solid 1px black;
    background: linear-gradient(90deg, #2c1e19, #131007);

}
.headerText {
    height: 55%;
    padding: 0.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headerText h2 {
    margin: 0;
    color: #ffffff;

}
.headerText > p:first-of-type {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
}
.headerText div {
    margin-bottom: 2rem;
}
.headerText p {
    font-size: 1rem;
    color: #cfa69b;
    font-style: italic;
}
.product h2,
.product p {
    margin: 0;
}
.price,
.rating {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem 0 1rem;
}
.rating {
    position: relative;
    margin-top: 1rem;
}
.rating p {
    font-size: .75rem;
    color: #ffffff;
    padding-top: 3px;
    margin-left: .5rem;
    cursor: pointer;
}

.price p:first-of-type {
    color: #ffffff;
    font-weight: 900;
}

.price p:last-of-type {
    font-size: .75rem;
    color: #f9b241;
    text-decoration: line-through;
    padding-top: 2px;
    margin-left: .70rem;

}
.actions {
    padding-bottom: 1rem;
    text-align: center;
}
.actions button {
    width: 50%;
    margin: auto;
    height: 2.3rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    background: linear-gradient(90deg, #fd4715, #f9b241);
    box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
    color: #d9e2f1;
    cursor: pointer;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
}