.Input-container {
  justify-content: space-around;
  width: 100%;
}
.Input-container input[type="number"] {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.Input-container label {
  font-size: 18.72px;
  font-weight: bold;
  margin-right: 1rem;
}
