.header {
  display: flex;
  padding: 1rem 5%;
  min-height: 6rem;
  background: linear-gradient(90deg, #202020, #25200f);
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.search {
  min-width: 15em;
  margin-right: 40px;

}
.link {
  text-decoration: none;
  color: #FFFAFA;
  font-size: 3rem;
  font-weight: bold;
}

.img {
  margin-top: 5px;
}


@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 2rem;
  }
}