.header {
  display: flex;
  padding: 1rem 5%;
  height: 20vh;
  background: linear-gradient(90deg, #202020, #25200f);
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.search {
  margin-left: 10px;
  min-width: 15rem;
}
.icon_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12rem;
}
.cart_effec {
  margin-left: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}
.icon_cart {
  cursor: pointer;
  width: 60px !important;
  height: 60px !important;
  color: #ffffff;
  fill: #ffffff;
}

.icon_cart_full {
  cursor: pointer;
  width: 60px !important;
  height: 60px !important;
  color: #ff9b05;
}

.icon_user {
  cursor: pointer;
  position: relative;
  width: 75px !important;
  height: 75px !important;
  color: #ffffff;
}

.icon_user_log {
  margin: auto;
  width: 70px !important;
  height: 70px !important;
  color: #ffffff;
  fill: #ffffff;
}

.link {
  text-decoration: none;
  color: #fffafa;
  font-size: 3rem;
  font-weight: bold;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 2rem;
  }
}
