@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}


body {
  color: rgb(var(--foreground-rgb));
  background:conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 7rem;
  text-align: center;
  height: 10rem;
}

.not-found a{
  color: #ff9b05;
  text-decoration: underline;
}