@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}


body {
  color: rgb(var(--foreground-rgb));
  background: conic-gradient(#ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80,
    );
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 7rem;
  text-align: center;
  height: 10rem;
}

.not-found a {
  color: #ff9b05;
  text-decoration: underline;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#loading {
  height: 80vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}


/* Product Slider */
[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 217px;
  max-height: 100vh;
  border-radius: .5rem;
  border: solid 1px #ff9b05;
  /* margin-left: 1rem; */

}

.slider-cont {
  padding: 1rem;
  border-radius: .5rem;
  background: linear-gradient(128deg, #2a221f, #131007);
}


.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}

.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
  border: 2px dashed rgb(160, 160, 160);
}

.suspense{
  background-image: url("../assets/Eclipse.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.main_slide{

}
/* Filter products mobile */
.account {
  height: 30%;
}

#ham-menu {
  display: none;
}

label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 25px;
  left: 20px;
  z-index: 2000;
  width: 60px;
  height: 60px;
  background-color: #808080;
  border-radius: 15px;
  border: 2px solid black
}

.ham-menu {
  width: 70vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 1500;
  background-color: #393e46;
  transition: 1s;
  display: flex;
  flex-direction: column;
}

.ham-menu h2 {
  font-size: 2rem;
  margin-bottom: .5rem;
  border-bottom: solid #ff9b05 1px;
  padding-bottom: 1rem;
}

.ham-menu>.account {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px;
  margin-top: 6rem;
  height: 20%;
  width: 100%;
}


.ham-menu>.account>a {
  padding-left: 3rem;
  padding-top: 3rem;
  list-style: none;
  font-size: 2rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.ham-menu>.filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 0 20px;
  height: 30%;
  width: 100%;
}


.ham-menu>.filter>li {
  padding-left: 3rem;
  list-style: none;
  font-size: 1.2rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(97, 97, 97);
  font-weight: bold;
}

#ham-menu:checked+label {
  background-color: transparent;
  border-color: black;
}

#ham-menu:checked~div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}

.full-page-green {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
}

#ham-menu:checked~div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}

[for="ham-menu"]>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: black;
  transition: 500ms;
  transform-origin: right center;
}

[for="ham-menu"]>div>span:nth-child(4),
[for="ham-menu"]>div>span:nth-child(5),
[for="ham-menu"]>div>span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}

#ham-menu:checked+label span {
  background-color: black;
}

#ham-menu:checked+label span:nth-child(2),
#ham-menu:checked+label span:nth-child(5) {
  transform: scale(0);
}

#ham-menu:checked+label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}

#ham-menu:checked+label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}

#ham-menu:checked+label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}

#ham-menu:checked+label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}

@media only screen and (min-width : 369px) and (max-width : 500px) {
  main {
    margin-top: 17rem;
    min-height: fit-content;

  }



.slider-cont{
  width:350px;
}
}