@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}


body {
  color: rgb(var(--foreground-rgb));
  background: conic-gradient(#ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80,
    );
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 7rem;
  text-align: center;
  height: 10rem;
}

.not-found a {
  color: #ff9b05;
  text-decoration: underline;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#loading {
  height: 80vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}


/* Product Slider */
[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 217px;
  max-height: 100vh;
  border: solid 1px #ff9b05;
  border-radius: .5rem;

}

.slider-cont {
  padding: 1rem;
  border-radius: .5rem;
  background: linear-gradient(128deg, #2a221f, #131007);
}


.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 108px;
}

.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}

@media only screen and (min-width : 369px) and (max-width : 500px) {
  main {
   min-height: fit-content;
  }

  
}