.container {
  width: 34%;
  margin: 5rem auto;
  padding: 2rem;
  background: linear-gradient(90deg, #ffffff, #dbdbdb41);
  border-radius: 8px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: solid black 1px;
  margin-bottom: 2rem;
}
.action > a {
  cursor: pointer;
  margin-right: 3px;
  font-size: 1rem;
  font-weight: bold;
  color: #ff9b05;
  text-shadow: .2px .2px #ff9b05;
  text-decoration: underline;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}



.label {
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
}

.input {
  margin-top: 0.75rem;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #fcf8f1;
  color: #142020;
}

.button {
  width: 100%;
  margin: auto;
  height: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
  color: #d9e2f1;
  cursor: pointer;
  margin: 2rem 0 1rem 0;
}


@media only screen and (min-width : 369px) and (max-width : 500px) {
  .container {
    margin-top: 13rem;
      width: 84%;
    
    }

}