

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.cont_container {
  margin-top: 1rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 900;
  border-bottom: solid 1px black;
  padding-bottom: 1rem;
}

.form h3 {
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 45%;
  max-width: 50%;
  margin: 0.5rem 1rem;
  padding: 2rem;
  background: linear-gradient(90deg, #ffffff, #d1d0cf41);
  border-radius: 8px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  height: fit-content;
}

.label {
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;
}

.input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #fcf8f1;
  color: #142020;
}

.button {
  height: 3.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
  color: #ffffff;
  cursor: pointer;
  margin-top: 2rem;
}


@media only screen and (min-width : 369px) and (max-width : 500px) {
  .container {
    flex-direction: column;
    height: 105vh;
    padding: 0;
    margin-top: -8rem;
    padding-left: 1rem;
  }

  .form {
    width: 90%;
    max-width: 90%;
  }

  .h2_container {
    display: none;
  }
}

